/**
 * Colors
 */
$color-yellow: #CFB134;
$color-blue: #1B2C94;
$color-gray-5: #EFEFEF;
$color-gray-10: #F8F8F8;
$color-gray-15: #F0F0F0;
$color-gray-60: #636363;
$color-gray-900: #222;
$color-black: #000;
$color-black-o-10: rgba(0, 0, 0, 0.1);

$color__text-main: $color-black;
$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: $color-gray-15;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__link: $color-blue;
$color__link-visited: purple;
$color__link-hover: $color-yellow;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-abbr: #666;

/**
  * Typography
  */
$font__main: "Helvetica", sans-serif;
$font__secondary: "Coves", sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

/**
  * Structure
  */
$size__site-main: 100%;
$size__site-sidebar: 25%;

/**
  * Breakpoint
  */
$xsmall-devices: 575px;
$phone-size: 768px; /*768 +1 to fix iPad. */
$tablet-size: 1024px;
$desktop-size: 1200px;