.page-template-about {

  // main-navigation
  .main-navigation {
    margin-bottom: 40px;
  }

  // intro-text
  .intro-text {
    h1 {
      line-height: 39px;
    }
  }

  // strategic-future
  .strategic-future {
    margin-bottom: 50px;

    article {
      p {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  // vission-mission
  .vission-mission {
    margin-bottom: 50px;

    .copy {
      margin-top: 50px;
      margin-bottom: 50px;
      padding-right: 30px;
      padding-left: 30px;
      border-left-width: 6px;
      border-right-width: 6px;

      // 1024px
      @media (min-width: $tablet-size) {
        margin-top: 50px;
        margin-bottom: 50px;
        padding-right: 80px;
        padding-left: 80px;
        border-left: 18px solid $color-yellow;
        border-right: 18px solid $color-yellow;
      }
    } 
  }

  // mandate
  .mandate {
    .item {
      .counter {
        background-color: #cfb134;
        flex: 0 0 50px;
        max-width: 50px;
        height: 50px;
        border-radius: 10rem;
      }
    }
  }

  .team {
    .team-bio {
      &:before {
        position: absolute;
        left: calc(50% - 20px);
        border-right: 20px solid transparent;
        border-left: 20px solid transparent;
        width: 20px;
        height: 20px;
        content: "";
      }
      
      @media (min-width: $tablet-size) {
        &:before {
          top: -18px;
          border-bottom: 20px solid #fff;
        }
      }

      // < 1024px
      @media (max-width: $tablet-size) {
        position: fixed;
        left: 0;
        top: 6vh;
        z-index: 99;
        width: 100%;
        height: auto;

        &:before {
          bottom: -18px;
          border-top: 20px solid #fff;
        }
      }

      p {
        &:last-child {
          margin-bottom: 0;
        }
      }

      img {
        // < 1024px
        @media (max-width: $tablet-size) {
          width: 150px;
        }
      }
    }
  }

}