.page-template-career {

  // intro-text
  .intro-text {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  // join-our-team
  .join-our-team {
    padding-top: 72px;
    padding-bottom: 42px;

    // 1024px
    @media (min-width: $tablet-size) {
      padding-top: 102px;
      padding-bottom: 102px;
    }
  }
  
}