.blog-card {
  padding: 18px;
  background-color: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  
  // 1024px
  @media (min-width: $tablet-size) {
    padding: 22px;
  }
  
  &.sm {
    padding: 16px;
  }
}

.article-card {
  padding: 28px 24px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  border-radius: 8px;

  // 1024px
  @media (min-width: $tablet-size) {
    padding: 50px 40px;
  }
}

.team-card {
  a {
    &.active {
      color: $color-yellow;
    }
  }
}