.page-template-contact-us {

  // intro-text
  .intro-text {
    padding-top: 50px;

    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  // form
  .wpcf7 {
    input[type="submit"] {
      font-weight: 700;
      @include font-size(20);
      padding-top: 16px;
      padding-right: 68px;
      padding-bottom: 16px;
      padding-left: 68px;
      background-color: $color-blue;
      color: #fff;

      &:hover {
        background-color: $color-yellow;
      }
    }

    .wpcf7-spinner {
      margin-top: -38px;
      display: block;
    }
  }

}