.site-footer {
	* {
		@include font-size(12);
	}

	.footer-top {
		padding-top: 6px;
		padding-bottom: 6px;
		background-color: $color-gray-900;
	}

	.footer-bottom {
		padding-top: 22px;
		padding-bottom: 22px;
		background-color: $color-gray-5;

		* {
			color: $color-gray-60;
		}

		h3 {
			font-weight: 700;
			text-transform: uppercase;
		}

		ul {
			margin-left: 0;
			margin-bottom: 0;
			padding-left: 0;
			list-style: none;
		}
	}
}