/**
 * Front page
 */

.home {
	
	.site-main {
		margin: 0;
	}

	// hero
	.hero-slider {
		.slick-slide {
			position: relative;
			
			figure {
				img {
					min-height: 490px;
				}
			}

			h3 {
				&:before,
				&:after {
					background-color: $color-yellow;
					width: 80px;
					height: 2px;
					content: "";

					// 1024px
					@media (min-width: $tablet-size) {
						width: 140px;
					}
				}

				&:before {
					left: 0;
				}

				&:after {
					right: 0;
				}
			}

			.slider-content {
				top: 33%;

				// 575px
				@media (min-width: $xsmall-devices) {
					top: 44%;				
				}

				// 768px
				@media (min-width: $phone-size) {
					top: 42%;				
				}

				// 1024px
				@media (min-width: $tablet-size) {}
			}
		}
	}

	//main-navigation 
	.main-navigation {
		margin-bottom: 50px;
	}

	// strategic-future
	.strategic-future {
		margin-bottom: 50px;
	}

	// product-services
	.product-services {
		margin-bottom: 50px;
		padding-top: 50px;
		padding-bottom: 50px;

		.item {
			h3 {
				span {
					display: block;
				}
			}
		}
	}

	// news
	.news {
		.excerpt {
			p {
				&:last-child {
					margin-bottom: 0;
				}
			}

			a {
				color: $color-yellow;
			}
		}
	}
}	