/**
 * Menu
 */
.site-header {
  background: $color-gray-10;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
  width: 100%;
  
  .header-top {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #F8F8F8;
    border-bottom: 1px solid $color-gray-15;
    z-index: 992;

    a {
      padding-right: 12px;
      padding-left: 12px;
      @include font-size(14);
      color: $color-black;

      &:hover {
        color: $color-yellow;
      }
    }

    ul {
      li {
        &.current-menu-item {
          a {
            font-weight: 700;
            color: $color-yellow;
          }
        }
      }
    }

    input[type="search"] {
      width: 220px;
      padding: 5px 11px;
      background-color: #fff;
      color: rgba(17, 17, 17, 0.5);

      // 768px
      @media (min-width: $phone-size) {
        width: 180px;       
      }

      // 1024px
      @media (min-width: $tablet-size) {
        width: 160px;       
      }
    }

    .menu-toggle {
      padding: 6px 8px;

      span {
        background-color: #fff;
        width: 28px;
        height: 2px;
        display: block;
        content: "";

        &:not(:last-child) {
          margin-bottom: 4px;
        }
      }
    }
    
    .accessibility {}

    .accessibility-menu {
      z-index: 992;
      margin-top: 18px;
      background-color: #fff;
      border-radius: 6px;
    }
  }

  .header-bottom {
    padding-top: 20px;
    padding-bottom: 20px;
    
    .site-branding {
      .site-title {
        img {
          height: 86px;
        }
      }
    }
  }
}

/**
 * slide menu
 */
.slide-menu-active {
  &:before {
    position: absolute;
    z-index: 12;
    background: rgba(23, 23, 23, 0.6);
    width: 100%;
    height: 100%;
    content: "";
  }

  .slide-menu {
    position: fixed;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    transition: -webkit-transform 0.4s cubic-bezier(0.23, 1, 0.32, 1);
    transition: transform 0.4s cubic-bezier(0.23, 1, 0.32, 1);
    transition: transform 0.4s cubic-bezier(0.23, 1, 0.32, 1),
      -webkit-transform 0.4s cubic-bezier(0.23, 1, 0.32, 1);
    overflow: scroll;

    @media (min-width: $xsmall-devices) {
      width: 360px;
    }

    .close-menu-btn {
      span {
        &:nth-child(1) {
          transform: rotate(45deg) translate(3px, 4px);
        }
  
        &:nth-child(2) {
          transform: rotate(-45deg) translate(2px, -2px);
        }
      }
    }
  }
}

.slide-menu {
  z-index: 992;
  position: absolute;
  top: 0;
  left: 0;
  background-color: $color-blue;
  width: 90%;
  height: 100%;

  -webkit-transform: translateX(-110%);
  transform: translateX(-110%);
  transition: -webkit-transform 0.2s cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 0.2s cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 0.2s cubic-bezier(0.23, 1, 0.32, 1),
    -webkit-transform 0.2s cubic-bezier(0.23, 1, 0.32, 1);
  will-change: transform;
  -webkit-overflow-scrolling: touch;

  .close-menu-btn {
    position: absolute;
    top: 26px;
    right: 16px;
    
    span {
      background-color: #fff;
      width: 24px;
      height: 2px;
      border-radius: 50rem;
      content: "";
      display: block;
      @include transition(.8s);
      
      &:not(:last-child) {
        margin-bottom: 6px;
      }
    }
  }

  .mobile-navigation {
    margin-top: 64px;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      
      ul {
        a {
          padding-top: 6px;
          padding-bottom: 6px;
          padding-left: 32px;
        }

        ul {
          a {
            padding-left: 54px;
          }
        }
      }
    }

    li {
      position: relative;
      
      a {
        font-weight: 200;
        padding: 10px 16px;
        color: #fff;
        display: block;

        &:hover {
          color: $color-yellow;
          text-decoration: none;
        }
      }

      &.current-menu-item {
        a {
          font-weight: 700;
          color: $color-yellow;
        }
      }

      // sub-menu
      .mobiMenuChild {
        position: absolute;
        right: 6px;
        top: 11px;
        padding: 8px 16px;
        cursor: pointer;

        &:before {
          width: 12px;
          height: 12px;
          border-right: 2px solid #fff;
          border-bottom: 2px solid #fff;
          transform: rotate(225deg);
          display: block;
          content: "";

          @include transition();
        }
      }

      &.hidey {
        > ul {
          display: none;
        }

        .mobiMenuChild {
          top: 6px;
          
          &:before {
            transform: rotate(45deg);
          }
        }
      }
    }
  }
}
