.blog,
.archive  {

  // featured-post
  .featured-post {
    &:before {
      position: absolute;
      left: 0;
      top: 0;
      background-position: right center;
      background-repeat: no-repeat;
      width: 50%;
      height: 100%;
      content: "";
    }
  }
  
}