/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: $color__link;

	&:visited {}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {}
	&:hover,
	&:active {
		outline: 0;
	}
	
	@include transition(0.25s);
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
	background-color: $color-blue;
	text-align: center;
	
	// main
	.main-menu {
		display: flex;
		
		> li {
			&.menu-item-has-children {
				> a {
					position: relative;
					
					&:after {
						position: absolute;
						top: 18px;
    				right: 0;

						background-image: url(images/chevron-down.svg);
						width: 13px;
						height: 12px;
						content: "";
					}
				}
			}

			> a {
				padding-top: 15px;
				padding-right: 42px;
				padding-bottom: 15px;
				padding-left: 42px;
			}
		}
	}

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
		
		ul {
			position: absolute;
			top: 48px;
			left: -999em;
			z-index: 99999;
			float: left;
			padding: 24px 24px 24px 42px;
			background-color: $color-blue;
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			text-align: left;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				padding-top: 4px;
				padding-bottom: 4px;

				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}
			
			a {
				position: inherit;
				width: 200px;

				&:before {
					position: absolute;
					top: 2px;
					left: -20px;
					background-image: url(images/chevron-down-white.svg);
					width: 13px;
					height: 12px;
					transform: rotate(-90deg);
					content: "";
				}
			}
		}
		
		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	
	li {
		display: inline-block;
		position: relative;
		
		&:hover > a {
			color: $color-yellow;
		}
	}
	
	a {
		position: relative;
		@include font-size(12);
		text-transform: uppercase;
		color: #fff;
		display: block;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
		font-weight: 700;
		color: $color-yellow;
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: $tablet-size) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
