.page-template-resource {

  // intro-text
  .intro-text {
    padding-top: 50px;
    
    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  // resources
  .resources {
    .item {
      padding-top: 22px;
      padding-right: 32px;
      padding-bottom: 22px;
      padding-left: 32px;

      // 1024px
      @media (min-width: $tablet-size) {
        padding-top: 22px;
        padding-right: 44px;
        padding-bottom: 22px;
        padding-left: 44px;
      }

      img {
        width: 125px;
      }

      &.private {
        opacity: 0.7;

        img {
          filter: grayscale(100%);
        }
      }
    }
  }

}