.page-template-search {

  // intro-text
  .intro-text {
    padding-top: 50px;

    input[type="search"] {
      padding-top: 11px;
      padding-bottom: 11px;
      background-position: 97% center;
    }
  }

}