// Slick slider
.slick-slider {
  &:after {
    z-index: 1;
    position: absolute;
    bottom: 0;
    background: linear-gradient(180deg, transparent 0%, rgba(0,0,0,0.5) 100%);
    height: 140px;
    width: 100%;
    display: block;
    content: "";
  }
}

.slick-arrow {
  z-index: 3;
  position: absolute;
  bottom: calc(50% - 32px);
  background-color: transparent;
  width: 20px;
  height: 20px;
  text-indent: -9999px;

  &.slick-prev {
    left: 0;
    background: url(images/arrow-left-icon.svg) no-repeat left center;

    // 1024px
    @media (min-width: $tablet-size) {
      left: 2.125rem;
    }
  }

  &.slick-next {
    right: 0;
    background: url(images/arrow-right-icon.svg) no-repeat right center;

    // 1024px
    @media (min-width: $tablet-size) {
      right: 2.125rem;
    }
  }

  // 768px
  @media (min-width: $phone-size + .98) {
    width: 32px;
    height: 32px;

    &.slick-prev {
      left: 24px;
    }

    &.slick-next {
      right: 24px;
    }
  }
}

.slick-dots {
  z-index: 2;
  position: absolute;
  bottom: 15px;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  list-style: none;

  li {
    display: inline;

    &:not(:last-child) {
      margin-right: 8px;
    }
    
    button {
      padding: 4px;
      background-color: transparent;
      width: 16px;
      height: 16px;
      border: 2px solid #fff;
      text-indent: -9999px;
      display: inline-block;
      border-radius: 10rem;
    }

    &.slick-active {
      button {
        background-color: #fff;
      }
    }
  }

  @media (min-width: 575px) {
    bottom: 38px;
  }
}

// navigation
nav.navigation {
  margin-bottom: 32px;

  @media (min-width: 575px) {
    margin-bottom: 50px;
  }

  .nav-links {
    a {
      color: $color-gray-60;

      &:first-child,
      &:last-child {
        color: $color-blue;
      }
      
    }
  }
  
  .page-numbers {
    padding-right: 6px;
    padding-left: 6px;

    &.current {
      color: $color-yellow;
    }
  }
}

// sticky
.is_stuck {
  z-index: 99;
}

// accesibility
.show-for-sr,
.show-on-focus {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
}