.single-project {

  // intro-text
  .intro-text {
    margin-top: -100px;
    margin-bottom: 40px;
    padding-top: 40px;
    padding-right: 36px;
    padding-bottom: 40px;
    padding-left: 36px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);

    // 1024px
    @media (min-width: $tablet-size) {
      margin-top: -130px;
      padding-top: 40px;
      padding-right: 90px;
      padding-bottom: 40px;
      padding-left: 90px;
    }

    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  section {
    padding-top: 50px;
  }

}