.page-template-sitemap {

  // intro-text
  .intro-text {
    padding-top: 50px;
  }
  
  .sitemap {
    ul {
      li {
        padding-top: 6px;
        padding-bottom: 6px;
      }
    }

    .parent-menu-item {
      // 1024px
      @media (min-width: $tablet-size) {
        min-height: 54px;
      }
    }
  }

}