.page-template-the-lab {

  // .intro-text
  .intro-text {
    padding-top: 50px;
    padding-bottom: 258px;
  }

  // anchors
  .anchors {
    margin-top: -140px;
    margin-bottom: 50px;

    // 1024px
    @media (min-width: $tablet-size) {
      margin-top: -160px;
    }

    .item {
      padding-right: 36px;
      padding-bottom: 22px;
      padding-left: 44px;
      border-left: 10px solid $color-yellow;
      box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.15);
      border-radius: 20px;
      
      // 1024px
      @media (min-width: $tablet-size) {
        min-height: 460px;
      }

      img {
        margin-top: -66px;
      }

      .excerpt {
        p {
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
  
  // sections
  section {
    padding-top: 50px;

    h3 {
      margin-bottom: 26px;
      font-weight: 700;       
      @include font-size(20);
    }

    article {
      p {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

}


.page-template-the-lab,
.page-template-the-lab-single {

  // featured-product
  .featured-product {
    &-slider {
      img {
        min-height: 660px;
      }
    }

    &-copy {
      padding-top: 30px;
      padding-right: 34px;
      padding-bottom: 26px;
      padding-left: 34px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);

      // 1024px
      @media (min-width: $tablet-size) {
        padding-top: 30px;
        padding-right: 74px;
        padding-bottom: 26px;
        padding-left: 74px;
      }
    }
  }

}