// Z-Index
.z-0 {
  z-index: 0;
}
.z-1 {
  z-index: 1;
}
.z-2 {
  z-index: 2;
}
.z-3 {
  z-index: 3;
}
.z-4 {
  z-index: 4;
}

// Position
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}

// Top / Right / Bottom / Left
.left-0 {
  left: 0px;
}
.top-0 {
  top: 0px;
}
.top-1\/2 {
  top: 50%;
}

.right-0 {
  right: 0px;
}

.bottom-0 {
  bottom: 0px;
}
.bottom-12 {
  bottom: 48px;
}

// Display
.block	{
  display: block;
}
.hidden	{
  display: none;
}
.inline-block	{
  display: inline-block;
}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.inline-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

// Layout
.overflow-scroll {
  overflow: scroll;
}

// Margin
.m-0 {
  margin: 0;
}

.ml-0 {
  margin-left: 0;
}
.ml-2 {
  margin-left: 8px;
}
.ml-3 {
  margin-left: 12px;
}
.ml-4 {
  margin-left: 16px;
}
.ml-5 {
  margin-left: 20px;
}
.ml-6 {
  margin-left: 24px;
}

.mr-2 {
  margin-right: 8px;
}
.mr-3 {
  margin-right: 12px;
}
.mr-4 {
  margin-right: 16px;
}
.mr-5 {
  margin-right: 20px;
}
.mr-6 {
  margin-right: 24px;
}
.mr-8 {
  margin-right: 32px;
}
.mr-9 {
  margin-right: 36px;
}

.mt-2 {
  margin-top: 8px;
}
.mt-3 {
  margin-top: 12px;
}
.mt-4 {
  margin-top: 16px;
}
.mt-6 {
  margin-top: 24px;
}
.mt-9 {
  margin-top: 36px;
}
.mt-12 {
  margin-top: 48px;
}

.mb-0 {
  margin-bottom: 0;
}
.mb-1 {
  margin-bottom: 4px;
}
.mb-2 {
  margin-bottom: 8px;
}
.mb-3 {
  margin-bottom: 12px;
}
.mb-4 {
  margin-bottom: 16px;
}
.mb-5 {
  margin-bottom: 20px;
}
.mb-6 {
  margin-bottom: 24px;
}
.mb-7 {
  margin-bottom: 28px;
}
.mb-8 {
  margin-bottom: 32px;
}
.mb-9 {
  margin-bottom: 36px;
}
.mb-10 {
  margin-bottom: 40px;
}
.mb-12 {
  margin-bottom: 48px;
}
.mb-13 {
  margin-bottom: 52px;
}
.mb-14 {
  margin-bottom: 56px;
}
.mb-16 {
  margin-bottom: 64px;
}
.mb-20 {
  margin-bottom: 80px;
}
.mb-21 {
  margin-bottom: 84px;
}
.mb-32 {
  margin-bottom: 128px
}


.mx-6 {
  margin-left: 24px;
  margin-right: 24px;
}
.mx-8 {
  margin-left: 32px;
  margin-right: 32px;
}

.my-6 {
  margin-top: 24px;
  margin-bottom: 24px;
}
.my-9 {
  margin-top: 36px;
  margin-bottom: 36px;
}
.my-20 {
  margin-top: 80px;
  margin-bottom: 80px;
}


.-m-4 {
  margin: -16px;
}
.-mt-4 {
  margin-top: -16px;
}
.-mt-5 {
  margin-top: -20px;
}
.-mt-6 {
  margin-top: -24px;
}
.-mt-14 {
  margin-top: -56px;
}
.-mt-20	{
  margin-top: -5rem;
}
.-mt-28	{
  margin-top: -7rem;
}

// Padding
.p-2 {
  padding: 8px;
}
.p-6 {
  padding: 24px;
}

.pt-2 {
  padding-top: 8px;
}
.pt-4 {
  padding-top: 16px;
}
.pt-8 {
  padding-top: 32px;
}
.pt-10 {
  padding-top: 40px;
}
.pt-12	{
  padding-top: 48px;
}
.pt-13	{
  padding-top: 52px;
}

.pr-8 {
  padding-right: 32px;
}

.pb-6 {
  padding-bottom: 24px;
}
.pb-8 {
  padding-bottom: 32px;
}
.pb-9 {
  padding-bottom: 36px;
}
.pb-10 {
  padding-bottom: 40px;
}
.pb-12 {
  padding-bottom: 48px;
}
.pb-17 {
  padding-bottom: 68px;
}

.pl-0 {
  padding-left: 0;
}
.pl-8 {
  padding-left: 32px;
}
.pl-10 {
  padding-left: 40px;
}
.pl-12 {
  padding-left: 48px;
}


.px-2 {
  padding-right: 8px;
  padding-left: 8px;
}
.px-4 {
  padding-right: 12px;
  padding-left: 12px;
}
.px-6 {
  padding-right: 24px;
  padding-left: 24px;
}
.px-8 {
  padding-right: 32px;
  padding-left: 32px;
}
.px-10 {
  padding-right: 40px;
  padding-left: 40px;
}

.py-2 {
  padding-top: 8px;
  padding-bottom: 8px;
}
.py-3 {
  padding-top: 12px;
  padding-bottom: 12px;
}
.py-6 {
  padding-top: 24px;
  padding-bottom: 24px;
}
.py-8 {
  padding-top: 32px;
  padding-bottom: 32px;
}
.py-10 {
  padding-top: 40px;
  padding-bottom: 40px;
}
.py-12	{
  padding-top: 48px;
  padding-bottom: 48px;
}
.py-17 {
  padding-top: 68px;
  padding-bottom: 68px;
}


// Typography
.list-none {
  list-style-type: none;
}

// Font Family
.font-futura {
  font-family: $font__secondary;
}

// Text Transform
.text-lowercase {
  text-transform: lowercase;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}

// Font Size
.text-tiny {
  @include font-size(10);
}
.text-xs {
  @include font-size(12);
}
.text-sm {
  @include font-size(14);
}
.text-base {
  @include font-size(16);
}
.text-lg {
  @include font-size(18);
}
.text-xl {
  @include font-size(20);
}
.text-2xl {
  @include font-size(24);
}
.text-3xl {
  @include font-size(30);
}
.text-4xl {
  @include font-size(36);
}
.text-5xl {
  @include font-size(48);
}


// Font Weight
.font-thin {
  font-weight: 100;
}
.font-extralight {
  font-weight: 200;
}
.font-light {
  font-weight: 300;
}
.font-normal {
  font-weight: 400;
}
.font-medium {
  font-weight: 500;
}
.font-semibold {
  font-weight: 600;
}
.font-bold {
  font-weight: 700;
}
.font-extrabold	{
  font-weight: 800;
}
.font-black	{
  font-weight: 900;
}

// Text Color
.text-white {
  color: #fff;
}
.text-yellow {
  color: $color-yellow;
}
.text-gray {
  color: $color-gray-60;
}
.text-blue {
  color: $color-blue;
}
.text-black {
  color: #000;
}
.text-gray-60 {
  color: $color-gray-60;
}


.hover\:text-white:hover {
  color: #fff;
}
.hover\:text-blue:hover {
  color: $color-blue;
}

// Fill
.fill\:white:hover {
  path {
    fill: #fff;
  }
}
.fill\:blue:hover {
  path {
    fill: $color-blue;
  }
}
.fill\:yellow:hover {
  path {
    fill: $color-yellow;
    stroke: $color-yellow;
  }
}

// Line Height
.leading-8 {
  line-height: 32px;
}

// Background Color
.bg-white {
  background-color: #fff;
}
.bg-gray-15 {
  background-color: $color-gray-15;
}
.bg-yellow {
  background-color: $color-yellow;
}
.bg-blue {
  background-color: $color-blue;
}
.bg-black-10 {
  background-color: $color-black-o-10;
}

.hover\:bg-blue:hover {
  background-color: $color-blue;
}

// Width
.w-10\/12 {
  width: 83.333333%;
}

.w-full	{
  width: 100%;
}
.w-screen	{
  width: 100vw;
}
.w-20 {
  width: 80px;
}
.w-40 {
  width: 160px;
}

// Height
.h-screen {
  height: 100vh;
}

.h-1\.5 {
  height: 24px;
}
.h-14 {
  height: 56px;
}
.h-16 {
  height: 64px;
}
.h-44 {
  height: 176px;
}
.h-48 {
  height: 192px;
}
.h-56 {
  height: 224px;
}
.h-64 {
  height: 256px;
}
.h-72 {
  height: 288px;
}
.h-80 {
  height: 320px;
}
.h-full	{
  height: 100%;
}

// Object Fit
.object-contain	{
  object-fit: contain;
}
.object-cover	{
  object-fit: cover;
}
.object-fill	{
  object-fit: fill;
}
.object-none	{
  object-fit: none;
}
.object-scale-down	{
  object-fit: scale-down;
}

// Border Radius
.rounded-lg	{
  border-radius: 8px;
}
.rounded-3xl {
  border-radius: 24px;
}

// Border
.border-b {
  border-bottom-width: 1px;
}

.border-2 {
  border-width: 2px;
}
.border-b-2	{
  border-bottom-width: 2px;
}
.border-b-4	{
  border-bottom-width: 4px;
}

// 1024px
@media (min-width: $tablet-size) {
  // Position
  .lg\:absolute {
    position: absolute;
  }
  .lg\:relative {
    position: relative;
  }

  // Top / Right / Bottom / Left
  .lg\:top-1\/2 {
    top: 50%;
  }

  // Display
  .lg\:flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .lg\:inline-flex {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .lg\:block	{
    display: block;
  }
  .lg\:hidden	{
    display: none;
  }

  // Height
  .lg\:h-80 {
    height: 320px;
  }

  // Background
  .lg\:bg-yellow {
    background-color: $color-yellow;
  }
  .lg\:bg-blue {
    background-color: $color-blue;
  }

  // Margin
  .lg\:mt-0 {
    margin-top: 0;
  }
  .lg\:mb-13 {
    margin-bottom: 52px;
  }

  .lg\:mb-0 {
    margin-bottom: 0;
  }
  .lg\:mb-8 {
    margin-bottom: 32px;
  }
  .lg\:mb-10 {
    margin-bottom: 40px;
  }

  // Padding
  .lg\:p-0 {
    padding: 0;
  }

  .lg\:pt-13	{
    padding-top: 52px;
  }

  .lg\:pr-0 {
    padding-right: 0;
  }
  .lg\:pr-4 {
    padding-right: 16px;
  }
  .lg\:pr-8 {
    padding-right: 32px;
  }
  .lg\:pr-8 {
    padding-right: 32px;
  }
  
  .lg\:pb-17 {
    padding-bottom: 68px;
  }

  .lg\:pl-8 {
    padding-left: 32px;
  }

  .lg\:py-8 {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  // Text Size
  .lg\:text-lg {
    @include font-size(18);
  }
  .lg\:text-xl {
    @include font-size(20);
  }
  .lg\:text-2xl {
    @include font-size(24);
  }
  .lg\:text-3xl {
    @include font-size(30);
  }
  .lg\:text-4xl {
    @include font-size(36);
  }
  .lg\:text-5xl {
    @include font-size(48);
  }
  
  // Alignment
  .lg\:text-center {
    text-align: center;
  }
  .lg\:text-left {
    text-align: left;
  }
}