.page-template-what-we-do {

  // intro-text
  .intro-text {
    padding-top: 50px;
    padding-bottom: 200px;
  }

  .intro-menus {
    margin-top: -150px;
    margin-bottom: 18px;

    .item {
      padding: 22px 18px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
      border-radius: 20px;

      // 1024px
      @media (min-width: $tablet-size) {
        padding: 22px 24px;
        min-height: 252px;
      }
    }
  }
  
  // sections
  .sections {
    .item {
      .icon {
        margin-left: -16px;
        width: 82px;
        height: 82px;

        // 1024px
        @media (min-width: $tablet-size) {
          width: 102px;
          height: 102px;
        }
      }

      article {
        padding-top: 16px;
        padding-bottom: 40px;

        // 1024px
        @media (min-width: $tablet-size) {
          padding-top: 140px;
          padding-bottom: 140px;
        }
      }
    }
  }

}