body, h4, h5, h6, p, li, label, input, select, textarea, legend, code, pre {
  font-size: 115% !important;
  line-height: 1.4 !important;
}

.top-menu li {
  font-size: 75% !important;
  line-height: 1.5 !important;
}

/** Added for gwt **/
.main-navigation a {
  font-size: 80% !important;
}

.main-navigation .name a {
  font-size: 130% !important;
}

.site-footer .columns h4, 
.site-footer .columns a, 
.site-footer .columns p {
  font-size: 130% !important;
}