.alignleft {
  float: left !important;
  margin-right: 16px;
}
.alignright {
  float: right !important;
}

.text-justify {
  text-align: justify !important;
}

.text-nowrap {
  white-space: nowrap !important;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}
.text-center {
  text-align: center !important;
}

@media (min-width: 576px) {
  .sm\:text-left {
    text-align: left !important;
  }
  .sm\:text-right {
    text-align: right !important;
  }
  .sm\:text-center {
    text-align: center !important;
  }
}

@media (min-width: 768px) {
  .md\:text-left {
    text-align: left !important;
  }
  .md\:text-right {
    text-align: right !important;
  }
  .md\:text-center {
    text-align: center !important;
  }
}

@media (min-width: 992px) {
  .lg\:text-left {
    text-align: left !important;
  }
  .lg\:text-right {
    text-align: right !important;
  }
  .lg\:text-center {
    text-align: center !important;
  }
}

@media (min-width: 1200px) {
  .xl\:text-left {
    text-align: left !important;
  }
  .xl\:text-right {
    text-align: right !important;
  }
  .xl\:text-center {
    text-align: center !important;
  }
}