button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.btn {
  padding: 6px 44px;
  background-color: $color-yellow;
  @include font-size(16);
  color: #fff;
  line-height: 30px;
  border: 2px solid transparent;
  border-radius: 6px;
  
  display: inline-block;
  text-align: center;
  white-space: initial;
  // white-space: nowrap;
  vertical-align: middle;

  // transition
  @include transition(0.3s);

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:hover {
    background-color: $color-blue;
    text-decoration: none;
    color: #fff;
  }

  &:active,
  &:focus {
    outline: 0;
    color: #fff;
  }
}

.btn {
  &-sm {
    padding: 3px 16px 1px 16px;
    @include font-size(14);
  }

  &.disabled {
    background-color: $color-gray-60;
  }
}

.btn.disabled,
.btn:disabled {
  opacity: 0.65;
}

button:not(:disabled):not(.disabled),
input[type="button"]:not(:disabled):not(.disabled),
input[type="reset"]:not(:disabled):not(.disabled),
input[type="submit"]:not(:disabled):not(.disabled),
.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.btn:not(:disabled):not(.disabled):active,
.btn:not(:disabled):not(.disabled).active {
  background-image: none;
}

a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}

.btn-ghost,
.btn-outline {
  background-color: transparent;
  border-color: $color-yellow;
  
  svg {
    path {
      // transition
      @include transition(0.3s);
    }
  }

  &:hover {
    background-color: $color-yellow;
    color: #fff !important;
    
    svg {
      path {
        fill: #fff;
      }
    }
  }
}