.dap-csf-category {
	padding-top: 62px;
}
	.dap-csf-category h2 {
		padding-left: 6px;
		font-weight: 700;
		font-size: 24px;
	}

	.dap-csf-category .widget_categories ul {}
		.dap-csf-category .widget_categories li {}
			
			.dap-csf-category .widget_categories li a {
				padding-top: 6px;
				padding-bottom: 6px;
				font-size: 20px;
				color: #000;
				display: block;
			}
				.dap-csf-category .widget_categories li a:hover,
				.dap-csf-category .widget_categories li.current-item > a {
					color: #CFB235;
				}

				.dap-csf-category .widget_categories li.current-item > a {
					font-weight: 700;
				}
		
		.dap-csf-category .widget_categories > ul > li {
			border-bottom: 1px solid #ccc;
		}
			.dap-csf-category .widget_categories > ul > li > a {
				padding-left: 6px;
				padding-right: 6px;
			}
				.dap-csf-category .widget_categories > ul > li > a svg {
					-webkit-transition: all 0.3s ease;
					-moz-transition: all 0.3s ease;
					-ms-transition: all 0.3s ease;
					-o-transition: all 0.3s ease;
					transition: all 0.3s ease;
				}
				.dap-csf-category .widget_categories > ul > li > a.active svg {
					transform: rotate(-180deg);
				}

		.dap-csf-category .widget_categories ul ul {
			margin-top: 8px;
			padding-left: 22px;
			padding-top: 28px;
			border-top: 1px solid #ccc;
		}